<div class="post-comments">
  <p>
    <b><%= comments.author.name %>:</b> <%= comments.content %>
  </p>
  <% if comments.replies.any? %>
    <% comment.replies.each do |reply| %> 
      <%= render partial: 'comments/reply', locals: { reply: reply } %>
    <% end %>
  <% end %>
  <span> <%= comments.created_at.strftime("%Y/%m/%d") %> </span>
</div>