<div class="card ml-5">
  <div class="card-body">
    <%= form_with(model: @comment) do |f| %>
      <%= f.hidden_field :parent_id %>
      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', placeholder: "type a reply" %>
      </div>
      <%= f.submit 'Reply', class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>